In [1]:
import pandas as pd
from importlib import reload
df = pd.read_csv('data/assembly.csv')
df['Vote share (%)'] = df.pop('Vote share').str.rstrip('%').astype(float)
df.head()

   Year      State         AC Party  Vote share
0  2013  Rajasthan  Jaisalmer   BJP        24.0
1  2013  Rajasthan     Jaipur   BJP        22.0
2  2013  Rajasthan    Jodhpur   BJP        20.0

In [13]:
df['Party'].mode()

0    BJP
dtype: object

In [2]:
# What extremes do we see?
# BJP won the largest voteshare in Jaisalmer

# What comparisons do we see?
# BJP voteshare is 4% higherin Jaisalmer than in Jodhpur

In [34]:
# extremes structure
struct = {
    'intent': 'extreme',
    'data': df,
    'metadata': {
        'subject': 'BJP', # literal subject
        'verb': ['won', 'scored', 'achieved'],
        'adjective': ['highest', 'greatest', 'most', 'largest'],
        'object': {
            'template': 'vote share of {value} in {location}',
            'kwargs': {
                'location': {
                    '_type': 'cell',
                    'colname': 'AC',
                    '_filter': {'colname': 'Vote share', 'filter': 'max'}
                },
                'value': {
                    '_type': 'cell',
                    'colname': 'Vote share',
                    '_filter': 'max'
                }
            }
        }
    }
}

In [4]:
from nlg import templates as tmpl

In [44]:
reload(tmpl)

In [45]:
n = tmpl.Narrative(struct)
n.render()

'BJP won the highest vote share of 24.0 in Jaisalmer.'

In [50]:
df = pd.DataFrame.from_dict({
    'singer': ['Kishore', 'Kishore', 'Kishore'],
    'partner': ['Lata', 'Asha', 'Rafi'],
    'n_songs': [20, 5, 15]
})
df.head()

   n_songs partner   singer
0       20    Lata  Kishore
1        5    Asha  Kishore
2       15    Rafi  Kishore

In [52]:
# Kishore sang the most duets with Lata
struct = {
    'intent': 'extreme',
    'data': df,
    'metadata': {
        'subject': {  # inferred subject
            '_type': 'cell',
            'colname': 'singer',
            '_filter': 'mode'
        },
        'verb': 'sang',
        'adjective': 'most',
        'object': {
            'template': 'with {partner}',
            'kwargs': {
                'partner': {
                    '_type': 'cell',
                    'colname': 'partner',
                    '_filter': {'colname': 'n_songs', 'filter': 'max'}
                }
            }
        }
    }
}

In [53]:
n = tmpl.Narrative(struct)
n.object

'with Lata'