In [1]:
import pandas as pd
from nlg import templates as tmpl
from importlib import reload

In [2]:
df = pd.read_excel('/tmp/ac-census-summary.xlsx')

In [3]:
df.head()

,State,Assembly_Constituency,No_HH,TOT_P,TOT_M,TOT_F,P_06,M_06,F_06,P_SC,...,Buddhist_Females,Jain_Persons,Jain_Males,Jain_Females,Others_Persons,Others_Males,Others_Females,Not_stated_Persons,Not_stated_Males,Not_stated_Females
0,GUJARAT,Abdasa,66098.275568,310322.647484,162658.691711,147663.955773,47224.156151,24580.996999,22643.159153,38391.762362,...,33.815018,3754.060276,1837.134349,1916.925927,14.534525,8.305443,6.229082,393.025432,219.204373,173.821059
1,CHHATTISGARH,Abhanpur,38784.213721,180946.049268,91191.325934,89754.723334,25942.723588,13182.765828,12759.957760,32122.177725,...,189.039240,764.676530,391.204377,373.472153,492.654428,242.294655,250.359772,144.382593,74.310434,70.072159
2,ASSAM,Abhayapuri North,46980.024693,231412.059520,117712.464462,113699.595057,36428.619348,18497.540547,17931.078801,25635.190392,...,40.049540,266.157907,134.141591,132.016316,9.249913,4.575249,4.674664,384.359999,183.098277,201.261722
3,ASSAM,Abhayapuri South,64596.785611,317850.368633,161706.959779,156143.408855,50270.595327,25525.875488,24744.719839,35124.031066,...,51.954623,372.711278,188.011825,184.699452,3.934692,2.189880,1.744812,511.324816,243.888811,267.436006
4,PUNJAB,Abohar,28286.148735,148666.174051,78518.020532,70148.153519,18183.862949,9844.236911,8339.626039,62653.484163,...,12.900005,83.303424,42.562729,40.740695,20.261025,11.442378,8.818648,275.054349,128.854290,146.200059

In [24]:
xdf = df.groupby('State').sum()
xdf['State'] = xdf.index.copy()
xdf.index = range(xdf.shape[0])

In [25]:
# Which state has the most Jain population?
struct = {
    'intent': 'extreme',
    'data': xdf,
    'metadata': {
        'subject': 'Jain population',
        'adjective': 'highest',
        'verb': 'is found in',
        'object': {
            'template': '{region}',
            'kwargs': {
                'region': {
                    '_type': 'cell',
                    'colname': 'State',
                    '_filter': {'colname': 'Jain_Persons', 'filter': 'max'}
                }
            }
        }
    }
}
tmpl.Narrative(struct).render()

'Jain population is found in the highest MAHARASHTRA.'

In [28]:
# The least populated constituency
df.loc[df['TOT_P'].idxmin(), 'Assembly_Constituency']

'Arithang'

In [33]:
struct = {
    'intent': 'extreme',
    'data': df,
    'metadata': {
        'subject': 'Population',
        'adjective': 'least',
        'verb': 'is',
        'object': {
            'template': '{region}',
            'kwargs': {
                'region': {
                    '_type': 'cell',
                    'colname': 'Assembly_Constituency',
                    '_filter': {'colname': 'TOT_P', 'filter': 'min'}
                }
            }
        }
    }
}
tmpl.Narrative(struct).render()

'Population is the least Arithang.'

In [ ]:
# The highest Jain population is in Maharashtra.
{
    'data': df,
    'metadata': {
        'template': 'The highest {x} is found in {y}',
        'kwargs': {
            'x': 'some formula',
            'y': 'some formula'
        }
    }
}