In [1]:
import pandas as pd
from importlib import reload
from nlg import templates as tmpl
df = pd.read_csv('data/assembly.csv')
df['Vote share (%)'] = df.pop('Vote share').str.rstrip('%').astype(float)
df.head()

   Year      State         AC Party  Vote share (%)
0  2013  Rajasthan  Jaisalmer   BJP            24.0
1  2013  Rajasthan     Jaipur   BJP            22.0
2  2013  Rajasthan    Jodhpur   BJP            20.0

In [2]:
# BJP won the largest voteshare in Jaisalmer
struct = {
    'intent': 'extreme',
    'data': df,
    'metadata': {
        'subject': 'BJP', # literal subject
        'verb': ['won', 'scored', 'achieved'],
        'adjective': ['highest', 'greatest', 'most', 'largest'],
        'object': {
            'template': 'vote share of {value} in {location}',
            'location': {
                '_type': 'cell',
                'colname': 'AC',
                '_filter': {'colname': 'Vote share (%)', 'filter': 'max'}
            },
            'value': {
                '_type': 'cell',
                'colname': 'Vote share (%)',
                '_filter': 'max'
            }
            
        }
    }
}

In [3]:
tmpl.Narrative(struct).render()

'BJP achieved the greatest vote share of 24.0 in Jaisalmer.'

In [4]:
reload(tmpl)

In [5]:
struct = {
    'intent': 'extreme',
    'data': df,
    'metadata': {
        'subject': 'BJP', # literal subject
        'verb': ['won', 'scored', 'achieved'],
        'adjective': ['highest', 'greatest', 'most', 'largest'],
        'object': {
            'template': 'vote share of {value} in {location}',
            'location': {
                '_type': 'cell',
                'colname': 'AC',
                '_filter': 'max(Vote share (%))'
            },
            'value': {
                '_type': 'cell',
                'colname': 'Vote share (%)',
                '_filter': 'max'
            }
            
        }
    }
}
tmpl.Narrative(struct).render()

'BJP achieved the highest vote share of 24.0 in Jaisalmer.'

In [6]:
df = pd.DataFrame.from_dict({
    'singer': ['Kishore', 'Kishore', 'Kishore'],
    'partner': ['Lata', 'Asha', 'Rafi'],
    'n_songs': [20, 5, 15]
})
df.head()

   n_songs partner   singer
0       20    Lata  Kishore
1        5    Asha  Kishore
2       15    Rafi  Kishore

In [7]:
# Kishore sang the most duets with Lata
struct = {
    'intent': 'extreme',
    'data': df,
    'metadata': {
        'subject': {  # inferred subject
            '_type': 'cell',
            'colname': 'singer',
            '_filter': 'mode'
        },
        'verb': 'sang',
        'adjective': 'most',
        'object': {
            'template': 'duets with {partner}',
            'partner': {
                '_type': 'cell',
                'colname': 'partner',
                '_filter': {'colname': 'n_songs', 'filter': 'max'}
            }
        }
    }
}

In [8]:
tmpl.Narrative(struct).render()

'Kishore sang the most duets with Lata.'

In [9]:
# Kishore sang the most duets with Lata
struct = {
    'intent': 'extreme',
    'data': df,
    'metadata': {
        'subject': {  # inferred subject
            '_type': 'cell',
            'colname': 'singer',
            '_filter': 'mode'
        },
        'verb': 'sang',
        'adjective': 'most',
        'object': {
            'template': 'duets with {partner}',
            'partner': {
                '_type': 'cell',
                'colname': 'partner',
                '_filter': 'max(n_songs)'
            }
        }
    }
}
tmpl.Narrative(struct).render()

'Kishore sang the most duets with Lata.'

In [10]:
df = pd.DataFrame.from_dict({
    'character': ['Eddard Stark', 'Jon Snow'],
    'n_episodes': [10, 56],
    'time_per_episode': [6.2, 5.5]
})
df.head()

      character  n_episodes  time_per_episode
0  Eddard Stark          10               6.2
1      Jon Snow          56               5.5

In [11]:
# Ned Stark's screen time is 0.7 minutes greater than that of Jon Snow.
struct = {
    'intent': 'comparison',
    'data': df,
    'metadata': {
        'subject': {
            'template': '{character}\'s screen time per episode',
            'character': {
                '_type': 'cell',
                'colname': 'character',
                '_filter': {'colname': 'time_per_episode', 'filter': 'max'}
            }            
        },
        'verb': 'is',
        'quant': {
            'template': '{q} minutes',
            'q': {
                '_type': 'operation',
                'expr': '{data.iloc[0].time_per_episode} - {data.iloc[1].time_per_episode}'
            }
        },
        'adjective': 'more',
        'object': {
            'template': 'that of {character}',
            'character': {
                '_type': 'cell',
                'colname': 'character',
                '_filter': {'colname': 'time_per_episode', 'filter': 'min'}
            }
        }
    }
}
tmpl.Narrative(struct).render()

"Eddard Stark's screen time per episode is 0.7000000000000002 minutes more than that of Jon Snow."

In [12]:
# Ned Stark's screen time is 0.7 minutes greater than that of Jon Snow.
struct = {
    'intent': 'comparison',
    'data': df,
    'metadata': {
        'subject': {
            'template': '{character}\'s screen time per episode',
            'character': {
                '_type': 'cell',
                'colname': 'character',
                '_filter': 'max(time_per_episode)'
            }            
        },
        'verb': 'is',
        'quant': {
            'template': '{q} minutes',
            'q': {
                '_type': 'operation',
                'expr': '{data.iloc[0].time_per_episode} - {data.iloc[1].time_per_episode}'
            }
        },
        'adjective': 'more',
        'object': {
            'template': 'that of {character}',
            'character': {
                '_type': 'cell',
                'colname': 'character',
                '_filter': 'min(time_per_episode)'
            }
        }
    }
}
tmpl.Narrative(struct).render()

"Eddard Stark's screen time per episode is 0.7000000000000002 minutes more than that of Jon Snow."

In [13]:
df = pd.read_csv('data/assembly.csv')
df['vote_share'] = df.pop('Vote share').str.rstrip('%').astype(float)
df.head()

   Year      State         AC Party  vote_share
0  2013  Rajasthan  Jaisalmer   BJP        24.0
1  2013  Rajasthan     Jaipur   BJP        22.0
2  2013  Rajasthan    Jodhpur   BJP        20.0

In [14]:
# BJP voteshare is 4% higher in Jaisalmer than in Jodhpur
struct = {
    'intent': 'comparison',
    'data': df,
    'metadata': {
        'subject': {
            'template': '{party}\'s voteshare',
            'kwargs': {
                'party': {
                    '_type': 'cell',
                    'colname': 'Party',
                    '_filter': 'mode'
                }
            }
        },
        'verb': 'is',
        'quant': {
            'template': '{q}%',
            'kwargs': {
                'q': {
                    '_type': 'operation',
                    'expr': '{data.iloc[0].vote_share}-{data.iloc[2].vote_share}'
                }
            }
        },
        'adjective': ['higher', 'greater', 'more'],
        'object': {
            'template': 'in {x} than in {y}',
            'kwargs': {
                'x': {
                    '_type': 'cell',
                    'colname': 'AC',
                    '_filter': 'max(vote_share)'
                },
                'y': {
                    '_type': 'cell',
                    'colname': 'AC',
                    '_filter': 'min(vote_share)'
                }
            }
        }
    }
}

In [15]:
tmpl.Narrative(struct).render()

"BJP's voteshare is 4.0% greater than in Jaisalmer than in Jodhpur."

In [16]:
df = pd.read_excel('/tmp/ac-census-summary.xlsx')
xdf = df.groupby('State').sum()
xdf['State'] = xdf.index.copy()
xdf.index = range(xdf.shape[0])
xdf.head()

,No_HH,TOT_P,TOT_M,TOT_F,P_06,M_06,F_06,P_SC,M_SC,F_SC,...,Jain_Persons,Jain_Males,Jain_Females,Others_Persons,Others_Males,Others_Females,Not_stated_Persons,Not_stated_Males,Not_stated_Females,State
0,2.100498e+07,8.453546e+07,4.242007e+07,4.211539e+07,9.143177e+06,4.715144e+06,4.428032e+06,1.387786e+07,6.913126e+06,6.964732e+06,...,52966.194607,27013.641693,25952.552914,9278.049670,4680.048009,4598.001661,390785.859220,191025.532573,199760.326648,ANDHRA PRADESH
1,2.757233e+05,1.409241e+06,7.269595e+05,6.822814e+05,2.155685e+05,1.093564e+05,1.062121e+05,1.088643e+03,5.608952e+02,5.277475e+02,...,766.832342,368.998160,397.834182,361449.411807,179494.294708,181955.117099,6620.372634,3174.757448,3445.615186,ARUNACHAL PRADESH
2,6.386056e+06,3.110935e+07,1.589008e+07,1.521927e+07,4.624689e+06,2.356631e+06,2.268058e+06,2.231991e+06,1.145672e+06,1.086319e+06,...,25459.917823,13274.527145,12185.390678,26967.185050,13624.278689,13342.906362,49593.176984,24221.865608,25371.311376,ASSAM
3,1.890282e+07,1.040588e+08,5.425549e+07,4.980336e+07,1.911984e+07,9.880149e+06,9.239694e+06,1.657313e+07,8.609148e+06,7.963985e+06,...,18395.828249,9473.427035,8922.401214,11723.076269,5961.448357,5761.627913,240438.155506,124775.994703,115662.160803,BIHAR
4,5.651252e+06,2.554565e+07,1.283334e+07,1.271231e+07,3.661364e+06,1.859798e+06,1.801566e+06,3.277024e+06,1.643169e+06,1.633855e+06,...,60686.635207,31159.032669,29527.602538,491230.353095,242532.728103,248697.624993,21815.382525,10771.688151,11043.694375,CHHATTISGARH

In [17]:
struct = {
    'intent': 'extreme',
    'data': xdf,
    'metadata': {
        'subject': 'Jain population',
        'verb': 'is',
        'adjective': 'the highest in',
        'object': {
            '_type': 'cell',
            'colname': 'State',
            '_filter': 'max(Jain_Persons)'
        }
    }
}
tmpl.Narrative(struct).render()

'Jain population is the the highest in MAHARASHTRA.'

In [18]:
reload(tmpl)

In [19]:
struct = {
    'template': 'Jain population is the highest in {state}.',
    'data': xdf,
    'metadata': {
        'state': {
            '_type': 'cell',
            'colname': 'State',
            '_filter': 'max(Jain_Persons)'
        }
    }
}
tmpl.Narrative(struct).render()

'Jain population is the highest in MAHARASHTRA.'

In [20]:
df = pd.read_csv('data/assembly.csv')
df['vote_share'] = df.pop('Vote share').str.rstrip('%').astype(float)
df.head()

   Year      State         AC Party  vote_share
0  2013  Rajasthan  Jaisalmer   BJP        24.0
1  2013  Rajasthan     Jaipur   BJP        22.0
2  2013  Rajasthan    Jodhpur   BJP        20.0

In [21]:
# BJP voteshare is 4% higher in Jaisalmer than in Jodhpur
struct = {
    'intent': 'comparison',
    'data': df,
    'metadata': {
        'subject': {
            'template': '{party}\'s voteshare',
            'party': {
                '_type': 'cell',
                'colname': 'Party',
                '_filter': 'mode'
            }
        },
        'verb': 'is',
        'quant': {
            'template': '{q}%',
            'q': {
                '_type': 'operation',
                'expr': '{data.iloc[0].vote_share}-{data.iloc[2].vote_share}'
            }

        },
        'adjective': ['higher', 'greater', 'more'],
        'object': {
            'template': 'in {x} than in {y}','x': {
                '_type': 'cell',
                'colname': 'AC',
                '_filter': 'max(vote_share)'
            },
            'y': {
                '_type': 'cell',
                'colname': 'AC',
                '_filter': 'min(vote_share)'
            }
        }
    }
}

In [22]:
tmpl.Narrative(struct).render()

"BJP's voteshare is 4.0% greater than in Jaisalmer than in Jodhpur."